.user-component {
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.25s linear;
}
.user-component__avatar:hover {
  transform: scale(1.15);
}
.user-component__title {
  font-size: 22px;
  font-weight: 600;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__column span {
  transition: all 0.1s linear;
  cursor: pointer;
}
.user-component__column span:hover {
  font-size: 18px;
}
.user-component__time {
  display: block;
  margin-bottom: 10px;
}
.badge-2,
.badge-3 {
  visibility: hidden;
}
